extends layout.jade

block content
    table.u-full-width
        thead
            tr
                th Name
                th Owner
                th Created On
                th Last Updated
                th Private
        tbody
        each repo in repos
            tr
                td
                    a(href='/view/repo/' + repo.id)
                        = repo.name
                td= repo.owner.login 
                td= repo.created_at
                td= repo.updated_at 
                if repo.private
                    td= "Yes"
                else
                    td= "No"
